body{
    background-color: #EEE;
}

.node-drawer-header {
  border-bottom: 1px solid #222;
}

.node-profile{
  margin: 8px 5px;
}
#node-user-photo{
  border-radius: 40px;
  border: 2px solid #FFF;
}

.node-no-display {
  display: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding: 8px 20px;
}

.mdl-navigation__link .material-icons {
  margin-right: 4px;
}

.node-nav-menu{
  margin: 2px 3px;
}

.node-dashboard--card{
    margin:10px 5px;
}

.node-dashboard--card > .mdl-card__title {
  height: 70px;
  background: url('/vendor/kelnebenath/noderesource/images/node-logo-full.jpg') right no-repeat;
  text-align: left;
}

.mdl-card__title {
    color: #fff;
    background-color: #065695 !important;
}

.mdl-card__menu {
    top:10px;
}

.node-justify {
    text-align: justify;
}

.node-vertical_flip {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.node-rect_rotation {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
